<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Blockchain App</h1>
    </header>

    <main>
        <div class="container">
            {% if 'username' in session %}
                <p class="welcome-message">Welcome, {{ session['username'] }}!</p>

                <!-- Display Balance for Logged-in User -->
                <p class="balance">Balance: ${{ balance }}</p>

                <a class="button" href="{{ url_for('logout') }}">Logout</a>
                <div class="links">
                    <a class="button" href="{{ url_for('get_chain') }}">View the Blockchain</a>
                    <a class="button" href="{{ url_for('is_valid') }}">Check if Blockchain is Valid</a>
                    <a class="button" href="{{ url_for('add_funds_page') }}">Add Funds</a>
                    <a class="button" href="{{ url_for('transfer_funds_page') }}">Transfer Funds</a>
                </div>
            {% else %}
                <div class="auth-links">
                    <a class="button" href="{{ url_for('login_page') }}">Login</a>
                    <a class="button" href="{{ url_for('register_page') }}">Register</a>
                </div>
            {% endif %}
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Blockchain App. All rights reserved.</p>
    </footer>
</body>
</html>
